@page "/"


<h1 class="text-center p-5">
    Bem vindo à nossa aplicação de testes Blazor
</h1>



@code {

}








<!-- #region exemplos de códigos usados em aulas anteriores-->
@* @{
    MudarMsg();
}

<div class="border shadow p-3 text-center mt-3">
    @msg
</div>


<div>
    <InputTextArea class="form-control" @bind-Value="conteudo" ></InputTextArea>
</div> 

@code {
    string conteudo = "";

    private string msg = "";

    private void MudarMsg()
    {
        msg = "Cheguei na função!";
    }

    //Ciclo de vida do componente
    protected override void OnInitialized()
    {
        conteudo += "Passei no OnInitialized \n";
    }

    protected override void OnParametersSet()
    {
        conteudo += "Passei no OnParametersSet \n";
    }

    protected override void OnAfterRender(bool firstRender)
    {
        conteudo += "Passei no OnAfterRender \n";
    }

} *@
<!-- #endregion -->
