@inherits LayoutComponentBase

<div class="px-5 vh-100 d-flex flex-column">
    <div class="bg-dark text-center text-white p-3">
        <NavLink style="font-family:Roboto" class="text-decoration-none text-light" href="/ProdutoPorId">Produto ID</NavLink> |
        <NavLink style="font-family:Roboto" class="text-decoration-none text-light" href="/">Listar Produtos</NavLink> |
        <NavLink style="font-family:Roboto" class="text-decoration-none text-light" href="/">Pesquisar Produtos</NavLink> |
    </div>

    <article class="py-3 h-100">
        @Body
    </article>

    <div class="bg-dark text-center text-white p-3">
        FOOTER
    </div>
</div>
