@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="bg-dark text-center text-white p-3">
            Arquivos | Textos | Exemplos | Blog
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="bg-dark text-center text-white p-3">
            FOOTER
        </div>
    </main>
</div>
