@inherits LayoutComponentBase

<div class="px-5 vh-100 d-flex flex-column">
    <div class="bg-dark text-center text-white p-4">
        <NavLink style="font-family:Roboto" class="text-decoration-none text-light p-2" href="/produtoslistar">Listagem de Produtos</NavLink> |
        <NavLink style="font-family:Roboto" class="text-decoration-none text-light p-2" href="/produtosincluir">Incluir Produtos</NavLink> |
        <NavLink style="font-family:Roboto" class="text-decoration-none text-light p-2" href="/produtosalterar">Editar Produtos</NavLink> |
        <NavLink style="font-family:Roboto" class="text-decoration-none text-light p-2" href="/produtosexcluir">Excluir Produtos</NavLink> |
        <NavLink style="font-family:Roboto" class="text-decoration-none text-light p-2" href="/crudprodutos">Produtos</NavLink> |
    </div>

    <article class="py-3 h-100">
        @Body
    </article>

    <div class="bg-dark text-center text-white p-3">
        Desenvolvido por Dev_Wes
    </div>
</div>
