@inherits LayoutComponentBase

<div class="px-5 vh-100 d-flex flex-column">
    <div class="bg-dark text-center text-white p-3">
        Arquivos | Textos | Exemplos | Blog
    </div>

    <article class="py-3 h-100">
        @Body
    </article>

    <div class="bg-dark text-center text-white p-3">
        FOOTER
    </div>
</div>
