@page "/teste"

<h1 class="@minhaClasse" style="@meuEstilo">@nome</h1>

<div>
    <label class="text-muted">Digite o seu nome</label>
    <input class="form-control" type="text" @bind-value="nome" />
    <input class="form-control mt-2" type="text" @bind="texto" />
</div>
<div class="mt-2">
    <button @onclick="Mudar" class="btn btn-outline-primary">Mudar Título</button>
    <button @onclick="MudarTextoInput" class="btn btn-outline-success ms-2">Bind</button>
</div>

<div class="row border mt-3">
    <div class="col bg-primary">
        Coluna 1
    </div>
    <div class="col bg-success">
        Coluna 2
    </div>
    <div class="col bg-warning">
        Coluna 3
    </div>
</div>

<div class="mt-3 rounded p-5 shadow">
    <h1>@textoFinal</h1>
</div>


@code {
    string nome = "Wesley Martins";

    string minhaClasse = "";
    string meuEstilo = "";

    public void Mudar()
    {
        nome = "Texto modificado pelo C-Sharp no front";

        minhaClasse = "text-success";

        meuEstilo = "font-size: 3rem;";
    }

    string texto = "";
    string textoFinal = "";
    public void MudarTextoInput()
    {
        textoFinal = $"Olá, Sou {texto}";
    }

    
}
